#sinks
  - PulseAudio.list.sinks.each do |sink|
    .sink= sink['Name']

#now-playing
  %h4#track_name
  .floatleft
    %span#elapsed{:style => 'font-family:arial;font-size:16pt'}
  .floatleft
    #track_slider
      #track_handle
  .floatleft
    %span#remaining{:style => 'font-family:arial;font-size:16pt'}
/ %script
/   = "$().ready(function(){updatePlayingIndicator({'name':'#{Amarok.track_name}','position':'#{Amarok.track_position}','length':'#{Amarok.track_length}','elapsed':'#{Amarok.elapsed}','remaining':'#{Amarok.remaining}'})});"

#volume{:style => 'clear:both'}
  .floatleft
    %span{:style => 'font-family:arial;font-size:16pt'} Volume:
  .floatleft
    #volume_slider
      #volume_handle

%hr{:style => 'clear:both'}

#previous
  %a{:href => "javascript:void(0)", :onclick => "$.get('/previous')"} Previous
#play
  %a{:href => "javascript:void(0)", :onclick => "$.get('/play')"} Play
#pause
  %a{:href => "javascript:void(0)", :onclick => "$.get('/pause')"} Pause
#next
  %a{:href => "javascript:void(0)", :onclick => "$.get('/next')"} Next

#songs{:style => "clear:both"}
  #song-search
    Search:
    %input#search{:type => 'search'}
  #song-results
